
.icon-mail:before { content: '\e800'; } /* '' */
.icon-town-hall:before { content: '\e83c'; } /* '' */
.icon-map:before { content: '\f279'; } /* '' */
.icon-twitter:before { content: '\f309'; } /* '' */
.icon-facebook-squared:before { content: '\f30e'; } /* '' */
.icon-instagram:before { content: '\f32d'; } /* '' */