body
{
	background-image: url(tlo.jpg)
}
	
	#container
	{
		width: 1150px;
		margin-left: auto;
		margin-right: auto;
	}
	
		#logo
		{
			background-color: #56393F;
			color: white;
			text-align: center;
			padding: 7px;
			margin-top: 10px;
			margin-bottom: 10px;
		}
		
			.link
			{
				text-decoration: none;
				color: white;
			}
			
			.link2
			{
				text-decoration: none;
				color: black;
			}
		
		#nav
		{
			text-align: center;
			padding: 10px;
			float: left;
			background-color: #885838;
			width: 200px;
			height: 410px;
			padding: 10px;
			margin-right: 10px;
		}

		#city-title
		{
		font-size: 40px;
		display: inline-block;
		}
		
			.city
			{
				min-width: 180px;
				height: 20px;
				padding: 10px;
				font-size: 18px;
				border-bottom: 1.5px solid black;
			}
			
			.city:hover
			{
				background-color: #996949;
				cursor: pointer;
			}
		#weather
		{
		font-size: 14px;
		width: 180px;
		display: inline-block;
		}

		#icon
		{
		display:inline-block;
		}

		#content
		
		{
			text-align: justify;
			padding: 20px;
			float: left;
			background-color: white;
			filter: alpha(opacity=50);
			width: 880px;
			height: 390px;
			font-size: 18px;
		}
		
			.p
			{
				text-align: justify;
			}
		
			#mapa
			{
				width: 420px;
				height: 320px;
				float: right;
				margin-left: 15px;
			}
		
		#socials
		
		{
			text-align: center;
			margin-top: 10px;
			margin-bottom: 10px;
			float: left;
			background-color: #210c00;
			width: 1150px;
		}
		
			.socialdivs
			{
			}
			
				.facebook
				{
					background-color: #210c00;
					height: 150px;
					width: 230px;
					float: left;
					font-size: 80px;
				}
				
				.facebook:hover
				{
					background-color: #100b00;
				}
				
				.instagram
				{
					background-color: #210c00;
					height: 150px;
					width: 230px;
					float: left;
					font-size: 80px;
				}
				
					.instagram:hover
				{
					background-color: #100b00;
				}
				
				.twitter
				{
					background-color: #210c00;
					height: 150px;
					width: 230px;
					float: left;
					font-size: 80px;
				}
				
					.twitter:hover
				{
					background-color: #100b00;
				}
				
				.google_maps
				{
					background-color: #210c00;
					height: 150px;
					width: 230px;
					float: left;
					font-size: 80px;
				}
				
					.google_maps:hover
				{
					background-color: #100b00;
				}
				
				.strona_miasta
				{
					background-color: #210c00;
					height: 150px;
					width: 230px;
					float: left;
					font-size: 80px;
				}
				
					.strona_miasta:hover
				{
					background-color: #100b00;
				}
		
		#footer
		
		{
			text-align: center;
			padding: 10px;
			margin-top: 10px;
			clear: both;
			background-color: #140000;
			color: white;
		}