{% extends 'layout.html' %}
	{% block title %}
           {{ city.title() }}
	{% endblock title %}

	{% block content %}
			<div id="content">
				<div id="city-title">{{ city.capitalize() }}</div>
				{% if city in places[1:] %}
					<div id="icon"><img src="{{ icon }}"></div>
					<div id="weather">
						<b>Aktualna pogoda w {{ polish_pron[city].capitalize() }}:</b><br>
						{{ weather[0] }}<br>
						temp. powietrza: {{ weather[1] }}<br>
						odczuwalna: {{ weather[2] }}<br>
						sprawdzone:{{ weather[3] }} (czas miejscowy)<br>
					</div>
				{% endif %}
				<img id="mapa" src="{{ picture }}">
				<p>{{ details.get(translation.get(city, {}), {}).get('description', {}) }}</p>

			</div>
	{% endblock content %}
	{% block socials %}
		<div class="google_maps"><a href="{{ details.get(city, {}).get('location', {})}}"><i class="icon-map"></i></a></div>
		<div class="strona_miasta"><a href="{{ details.get(city, {}).get('webpage', {})}}"><i class="icon-town-hall"></i></a></div>
	{% endblock socials %}
