{% extends 'layout.html' %}

	{% block title %}
           {{ city.title() }}
	{% endblock title %}

	{% block content %}
			<div id="content">
				<h2>Berlin</h2>
					<img id="mapa" src="static/berlin.jpg">
						<p>Stolica Niemiec. Miasto, które niejednego urzekło połączeniem znanych zabytków z nowoczesną architekturą. Znane z Bramy Branderburskiej czy Reichstagu – siedziby niemieckiego parlamentu. Oferuje szeroką gamę muzeów, w tym znaną na całym świecie Wyspę Muzeów, na której bez wątpliwości znajdziesz to co cię interesuję. Wielkie kina i teatry zapewniają doskonałą rozrywkę na wieczory, a liczne sklepy z konkurencyjnymi cenami zachęcają do zakupów.</p>

						<p>Miasto oprócz rozrywek posiada świetne tradycyjne niemieckie potrawy, które trafią do gustu każdemu!</p>

			</div>
	{% endblock content %}
	{% block socials %}
		<div class="google_maps"><a href="https://www.google.com/maps/place/Berlin,+Niemcy/@52.5065116,13.1438675,10z/data=!3m1!4b1!4m5!3m4!1s0x47a84e373f035901:0x42120465b5e3b70!8m2!3d52.5200066!4d13.404954?hl=pl-PL"><i class="icon-map"></i></a></div>
		<div class="strona_miasta"><a href="https://www.berlin.de/en/"><i class="icon-town-hall"></i></a></div>
	{% endblock socials %}
