{% extends 'layout.html' %}

	{% block title %}
            Stolice Europy
	{% endblock title %}

	{% block content %}
			<div id="content">
				<h2>Europa</h2>
					<img id="mapa" src="static/europa.jpg">
						<p>Europę bezprecedensowo można uznać za najbardziej rozwinięty kontynent świata. Położone w tym regionie państwa bez cienia wątpliwości można zaliczyć do najbardziej znaczących na arenie międzynarodowej. Europa to także wiele kultur, tradycji, wiele ludzkich serc, które tworzą miasta znane w każdym zakątku świata. Poeci, malarze, politycy, ale także zwykli ludzie pozostawili tam wiele śladów, które do dziś doceniane są na tle kultury jak i codziennego życia.</p>
						
						<p>Już dziś zanurz się z nami we wspaniałej kulturze i klimacie pięknych stolic całej Europy. Obejrzyj z nami Paryską Wieżę Eifll’a, Berlińską Bramę Branderburską, Londyńskiego Big Bena, a także wiele innych.</p>
			</div>
	{% endblock content %}
	{% block socials %}
		<div class="google_maps"><a href="https://www.google.com/maps/place/Europe/@48.0937121,4.1156545,4z/data=!3m1!4b1!4m5!3m4!1s0x46ed8886cfadda85:0x72ef99e6b3fcf079!8m2!3d54.5259614!4d15.2551187"><i class="icon-map"></i></a></div>
		<div class="strona_miasta"><a href="https://europa.eu/european-union/index_pl"><i class="icon-town-hall"></i></a></div>
	{% endblock socials %}